/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v12/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf) format('truetype');
}
html,
body {
  margin: 0 auto;
  width: 700px;
  font-size: 62.5%;
  background-color: #a3c9c7;
  margin-top: 10px;
  border-radius: 15px;
}
@media (max-width: 500px) {
  html,
  body {
    background-color: red;
    transition: 1s;
    width: 90%;
  }
}
html {
  background-color: #262626;
}
nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 20px;
  font-size: 3em;
}
@media (max-width: 500px) {
  nav {
    flex-direction: column;
    align-items: center;
    height: 150px;
    transition: 1s;
  }
}
nav a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 350px;
}
header .portrait {
  width: 330px;
  max-height: 100%;
  border-radius: 10px;
}
header .intro {
  width: 330px;
  font-size: 2.5rem;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 10px 15px 15px 15px;
  background-color: #262626;
  border-radius: 10px;
}
@media (max-width: 500px) {
  header .intro {
    margin-top: 15px;
  }
}
header .intro h1 {
  color: white;
  margin-left: 0;
}
header .intro p {
  margin-top: 10px;
  font-size: 0.8em;
  line-height: 35px;
  color: lightgrey;
}
@media (max-width: 500px) {
  header {
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    transition: 1s;
  }
}
h1 {
  font-size: 2.5rem;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 10px;
  margin-left: 15px;
  color: #262626;
  font-weight: bold;
}
@media (max-width: 500px) {
  h1 {
    text-align: center;
    margin: 0;
  }
}
.workcontainer {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-wrap: wrap;
  font-size: 2rem;
  margin: 10px;
  justify-content: space-between;
  height: 600px;
  align-items: center;
}
.workcontainer .workbox {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 275px;
  border: solid white 2px;
  color: white;
  background-color: #262626;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .workcontainer .workbox {
    margin-bottom: 15px;
  }
}
.workcontainer .workbox h2 {
  font-weight: bold;
  margin-bottom: 10px;
}
.workcontainer .workbox h3 {
  font-size: 0.8em;
  margin-bottom: 10px;
  font-weight: bold;
}
.workcontainer .workbox p {
  font-size: 0.75em;
  line-height: 25px;
}
@media (max-width: 500px) {
  .workcontainer {
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
  }
}
.skillscontainer {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  height: 75px;
  font-size: 1.45rem;
  justify-content: space-between;
  margin: 10px 10px 20px 10px;
  background-color: white;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .skillscontainer {
    flex-direction: column;
    height: 400px;
    padding: 15px;
  }
}
.skillscontainer .skillsbox {
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 500px) {
  .skillscontainer .skillsbox {
    width: 100%;
    font-size: 2.25rem;
  }
}
.skillscontainer .skillsbox .fivestars {
  max-width: 70%;
  max-height: 70%;
}
.contact {
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 5px;
  font-size: 1.75rem;
  background-color: white;
  display: inline-block;
  width: 300px;
  border-radius: 10px;
  margin-left: 10px;
  margin-bottom: 25px;
  margin-top: 10px;
  padding: 10px;
}
@media (max-width: 500px) {
  .contact {
    text-align: center;
    width: 95%;
  }
}
.contact p {
  margin: 5px 0 0 15px;
  line-height: 25px;
}
